/*
	---950px;
	---color:#3879D9;
*/

*{
	font-size:13px;
	font-family: 'Lucida Console','黑体', 'Monaco', 'monospace','consolas','宋体','微软雅黑' ,'Arial','Times New Roman', Times, serif;
	text-decoration: none;
}

body{
	margin: 0;
	background-color: #E9E9E9;
}

.header{
	width: 100%;
	min-width:950px;
	height: 50px;
	background-color: #333333;

}

.header_bar{
	width: 950px;
	margin: 0 auto;
	height: 50px;
}

.title{
	width: 85px;
	font-size: 30px;
	line-height: 50px;
	color: #EEEEEE;
}

.title_a{
	color: #2F9BD7;
	font-size: 23px;
	font-weight: bold;
	margin-bottom: 10px;
	cursor: pointer;
}

.footer{
	width: 950px;
	margin: 0 auto;
	margin-top:30px;
	height: 130px;
	background-color: #FFF;
	box-shadow: 3px 0px 5px #939491;
	border: 1px solid #DDDDDD;
	border-top: 0; 
}

.footer_text{
	margin: 0 auto;
	width: 125px;
	height: 20px;
	line-height: 20px;
	color: #D4D4D3;
	text-align: center;
}


.footer_text:first-child{
	width: 125px;
}

.footer_text:nth-child(2){
	width: 125px;
}

.footer_text:last-child{
	width: 140px;
}

.footer_info{
	height: 60px;
	width: 100%;
}



.footer_start{
	height: 60px;
	width: 184px;
	margin: 0 auto;
}

.start_item{
	margin-top: 14px;
	display: inline-block;
	height: 40px;
	width: 40px;
	margin-left: 10px;
}

.start_item:hover{
	cursor: pointer;
}



.menu{
	width:160px;
	height: 230px;
	background-color: #D0D0D0;
	position: fixed;
	right: 0;
	top: 80px;
	filter:alpha(opacity=80); /*IE8-*/
	opacity: 0.8;
}

.main_section{
	width: 950px;
	margin: 0 auto;
	/*min-height: 1000px;*/
	min-height: 700px;
	background-color: #FFF;
	box-shadow: 3px 0 5px #A5A6A4;
	border: 1px solid #DDDDDD;
	border-bottom: 0; 
}

.menu_table{
	margin-top: 15px;
	width: 130px;
	height: 200px;
	margin-left: 20px;
}

.menu_table_tr{
	height: 30px;
	color: #0088D3;
	text-align: center;
}

.menu_table_tr td:hover{
	cursor: pointer;
	background-color: blue;
	color: #FFF;
	border-radius: 3px;
	font-weight: bold;
}

.blog{
	width: 900px;
	margin: 0 auto;
	margin-top: 15px;
}

.blog_title{
	color: #2F9BD7;
	font-size: 23px;
	font-weight: bold;
	margin-bottom: 10px;
	cursor: pointer;
}

.blog_tags{
	display: inline;
}

.blog_time{
	display: inline;
	margin-left: 5px;
}

.blog_tags_item{
	display: inline;
	cursor: pointer;
	font-size: 14px;
}

.blog_tags_time{
	color: #DDDDDD;
}

.blog_article{
	margin-top: 20px;
	color: #555555;
}

.blog_p{
	margin-top: 3px;
	margin-bottom:3px; 
    font-size: 14px;
    line-height: 23px;
}

.blog_lt{
	font-size: 19px;
	margin-top: 18px;
	font-weight: bold;
}

.page{
	margin:0 auto;
	width: 130px;
	height: 40px;
}

.page_item{
	display: inline-block;
	height: 22px;
	line-height: 22px;
	margin-left: 3px;
	background-color: #3879D9;
	border-radius: 3px;
	color: #FFF;
}

.page_item:hover{
	cursor: pointer;
}


.list_show{
	width:900px;
	margin:0 auto;
	margin-top: 20px;
}

.list_title{
	color: #329CD7;
	font-size: 20px;
	font-weight: bold;
}

.one_link{
	margin-top: 5px;
}


.link_display{
	display: inline-block;
}

.linklist_num{
	color: #DDDDDD;
}

.linklist_time{
	color: #DDDDDD;
}

.linklist_title{
	color: #329CD7;
}

.linklist_title:hover{
	cursor: pointer;
}

.linklist_tag{
	color: #329CD7;
}

.linklist_tag:hover{
	cursor: pointer;
};