body{ width:100%;height:auto; margin:0; padding:0; font-size:12px; font-family:Arial,Helvetica,"Microsoft YaHei","WenQuanYi Micro Hei",sans-serif; background:#fff}
span,p,ul,li,h1,h2,h3,h4,h5,th{margin:0;padding:0; font-weight:normal}
h2,h3{ font-size:14px; line-height:180%}
ul,li{ list-style:none;}
img{ border:none;margin:0; padding:0;}
a{transition: background-color 0s ease 0s, color 0.2s linear 0s;}
a{ text-decoration:none; color:#000}
a:link, a:visited, a:active{ color:#B8B8B8; text-decoration:none}
a:hover{ color:#85DBDB}
.clear{ clear:both; *clear:none}
.fl{ float:left;}
.fr{ float:right}
.w_1002{ width:1002px; margin:0 auto;}
table{border-collapse:collapse; border-spacing:0;}
textarea{ overflow:hidden; font-size:12px; padding:5px; color:#666}