doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/index.css')
        script(src='/javascripts/CommentCoreLibrary.js')
    body
        #my-player.abp(style='width:100%; height:40px; background:#000;')
            #my-comment-stage.container

        script(src='/javascripts/socket.io.js')
        script(src='/javascripts/jquery.js')
        script(src='/javascripts/index.js')